@use '../variables' as v;
@use '../inc/bootstrap' as bs;
@use '../mixins' as mixin;
@forward 'desktop-navigation';
@forward 'mobile-navigation';
@forward 'language-selector';
@forward 'hamburger-icon';

.site-header {
	position: relative;
	z-index: 2;
	background: white;
	
	display: flex;
	align-items: center;

	margin: 0 auto;
	max-width: v.$page-max-width;
	box-sizing: content-box;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	@include mixin.apply-page-gutters() {
		padding-right: v.$page-gutter;
		padding-left: v.$page-gutter;
	}
	
	@include bs.media-breakpoint-down('sm') {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

// Logo
#logo {
	// For IE, SVG dimensions have to be defined
	// so the image has correct aspect ratio
	height: 4.75rem;
	width: 7.625rem;
	flex-grow: 0;
	flex-shrink: 1;

	a {
		display: block;
	}
	
	@include bs.media-breakpoint-down('sm') {
		height: 3.5rem;
		width: 4rem;
		
		svg {
			height: 3.5rem;
			width: 4rem;
		}
	}
}

// For screen readers and crawlers

.site-title, .site-description {
	font-size: 0;
	margin: 0;
}

#site-navigation,
#language-selector-container {

	a {
		display: block;
		text-decoration: none;
		color: inherit;
	}
	
	@include bs.media-breakpoint-up('md') {
		padding-top: 1rem;
	}
}

// input toggle element
#menu-toggle {
	display: none;
}
