@use '../variables' as v;

#language-selector-ccontainer {
	a {
		background: v.$gray;
		border-radius: 2rem;
		padding: 0.375rem 1rem;

		color: v.$text-gray;
		font-size: 1rem;
		font-weight: 600;

	}
}