// Incorporated libraries
@use "inc/bootstrap" with(
	$enable-responsive-font-sizes: true,
	$font-family-base: #{'Source Sans Pro', sans-serif},
	$headings-font-family: #{'Jaldi', sans-serif},
);

// Variables, mixins, functions
@use "mixins";

// Styling
@use "type";
@use "skip-to-content-link";
@use "content";
@use "footer";


@use "header/header";
@use "header/hamburger-icon";
@use "header/mobile-navigation";
@use "header/language-selector";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Jaldi:700|Source+Sans+Pro:400,600&display=swap&subset=latin-ext');